.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    z-index: 2;
  }

  .space{
    padding: 40px;
  }
  
.filter-container {
    display: flex;
    align-items: center;
    border-radius: 0%;
    border: 3px solid black;
    width: 80%;
    z-index: 2;
    
  }

.filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

.rating-filter,.availibilty-filter {
  margin-right: 150px; /* Adjust the spacing between filters */
}

.filter-header {
    margin-right: 70px;
    color: darkblue
}

.rating-filter {
    display: flex;
    align-items: center;
    margin: auto;
    
    
}

.availability-filter {
    display: flex;
    align-items: center;
    margin: auto;
    
}

.courses-filter {
    align-items: center;
    display:flex;
    margin: auto;
}



.dropdown-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
    gap: 10px; /* Adjust the gap between columns */
    align-items: center;
    border: 2px solid darkblue;
}


.dropdown-options.show {
  display: block;
}

.dropdown-header{
    cursor: pointer;
    margin-right: 5px;
    
}

.dropdown {
    position: relative;
    margin-left: 10px;
    
}

.profile-icon {
    margin-top: 10%;
    margin-bottom: 15px;
    color: black;
}
  
.message-button-container {
    margin-top: 15px;
    margin-left: 90%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid darkblue;
    border-radius: 5px;
    color: white;
    background-color: darkblue;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px; /* Increase the margin-top value */
    margin-bottom: 10px;
}

.search-input {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .search-input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(0, 128, 0, 0.3);
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Optional: Add styles for hover state */
  .search-icon:hover {
    color: #4CAF50;
  }
  
  