.Signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text{
    color: black;
    font-size: 24px;
    font-weight: 700;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group input {
    width: 48%; /* Adjust the width as needed */
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding: 0 15px;
    box-sizing: border-box;
}


.error-message {
    color: rgb(240, 116, 116);
    font-size: medium;
}

.submit-container {
    cursor: pointer;
    background-color: navy;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 0.3s;
}


.submit-container:hover {
    background-color: #334080;
}

.submit-container{
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.submit-container:hover{
    background-color: rgba(60, 60, 136, 0.699);
}

.signup-links {
    text-align: center;
    margin-top: 20px;
}

.signup-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.signup-links a:hover {
    color: #0056b3;
}

.availability {
    margin-top: 20px;
}

.availability p {
    font-size: 16px;
    margin-bottom: 10px;
}

.availability .days-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.availability .days-grid .row {
    display: flex;
    gap: 5px;
    margin-bottom: 8px;
}

.availability .days-grid .row input {
    display: none; /* hide the actual checkboxes */
}

.availability label {
    font-size: 14px;
    color: #333;
    flex: 1;
    height: 40px;
    border-radius: 7px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
}

.availability input:checked + label {
    background-color: rgba(60, 60, 136, 0.699);
    color: white;
}